.mountain__header {
  display: flex;
  justify-content: space-between;
  margin: 40px 70px;
  align-items: center;
}

.header__logo {
  color: white;
  font-weight: 700;
  font-size: 20pt;
}

.mountain__list {
  display: flex;
  width: 800px;
  justify-content: space-around;
}
.list__item {
  opacity: 0.5;
  cursor: pointer;
  color: white;
}

.list__item--active {
  opacity: 1;
  font-weight: 700;
}
